body {
	background-image: url("http://2.bp.blogspot.com/-gTF9tlvR4sk/Ul2M-F3HedI/AAAAAAAAa9g/Zol8Phr50tg/s1600/s.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1300px 800px;
	opacity: 0.9;
}

.main {
	background-color: rgb(100, 100, 100);
	margin-right: 150px;
	margin-left: 150px;
}

div {
	background-color: rgb(100, 100, 100);
	padding: 25px;
	margin: 100px;
}