body {
	background-image: url("https://i.ytimg.com/vi/_kaqhy2iV7c/maxresdefault.jpg");
	background-repeat: no-repeat;
}



h1 {
	text-align: center;
	color: white;
}

form {
	color: white;
}

div {
	padding: 50px;
}

.column {
	margin-left: 500px;
}